.movie {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}

.movie:hover {
    transform: scale(1.1);
}

.poster {
    width: 10rem;
    height: 100%;
}
.title {
    margin: 0;
}
