@value movieBlack, movieWhite from "../../common/color.css";

.footer {
    width: 100%;
    padding: 2rem;
    background-color: movieBlack;
    color: movieWhite;
}
.text {
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}
