@value movieBlack, movieDarkGrey from "../../common/color.css";

.movie {
    width: 100%;
    color: white;
    background-color: movieDarkGrey;
}

.category {
    padding-left: 3em;
    background-color: movieDarkGrey;
}

.topRated,
.popular,
.upcoming {
    margin-bottom: 2em;
}

.topRated {
    margin-top: 2em;
}
